ControlService/Connected Services/LoadServiceReferenceCon/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CommonLibrary" />
  <xs:element name="LoadFeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadFeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonLibrary" minOccurs="0" name="LoadFeedResult" nillable="true" type="q1:SynItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>